{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Selamat datang di aplikasi {{ title }}</h1>

    <div class="data">
        <h5>Name:</h5>
        <p>{{ name }}</p>

        <h5>Class:</h5>
        <p>{{ class }}</p>

        <p>Kamu telah menambahkan {{ total }} items!</p>
    </div>

    <div class="cards">
        {% for item in items %}
        <div class="card {% if forloop.last %}new-card{% endif %}">
            <h3>{{ item.name }}</h3>
            <p>Price: {{ item.price }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Amount: {{ item.amount }}</p>
            <div class="card-buttons">
                <a href="add_amount/{{ item.id }}">
                    <button class="amount-button">Menambah amount</button>
                </a>
                <a href="reduce_amount/{{ item.id }}">
                    <button class="reduce-button">Mengurangi amount</button>
                </a>
                <a href="hapus/{{ item.id }}">
                    <button class="remove-button">Hapus Item</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="last-login">
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>

    <div class="action-buttons">
        <a href="{% url 'main:create_item' %}">
            <button class="action-button">Add New Item</button>
        </a>
        <a href="{% url 'main:logout' %}">
            <button class="logout-button">Logout</button>
        </a>
    </div>
</div>

<style>
    .container {
        background-color: #ececec;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 20px auto;
        width: 80%;
    }

    h1 {
        text-align: center;
        color: #ff2200b1;
    }

    .data {
        margin: 20px 0;
    }

    h5 {
        font-weight: bold;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .card {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin: 10px;
        width: calc(33.33% - 20px);
        text-align: left;
    }

    .card h3 {
        color: #010101b1;
    }

    .card-buttons {
        margin-top: 10px;
    }

    .amount-button,
    .reduce-button,
    .remove-button,
    .action-button,
    .logout-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 5px;
    }

    .amount-button:hover,
    .remove-button:hover,
    .action-button:hover {
        background-color: #0056b3;
    }

    .reduce-button {
        background-color: #ff8c00de;
    }

    .remove-button,
    .logout-button {
        background-color: #ff0000cf;
    }

    .action-button {
        background-color: #00ff4cb6;
    }

    .last-login {
        text-align: center;
        margin-top: 20px;
    }

    .action-buttons {
        text-align: center;
        margin-top: 20px;
    }
    .new-card {
        background-color: #e8f8ff; /* Warna latar belakang card terbaru */
    }
</style>
{% endblock content %}
