{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Selamat datang di aplikasi {{ title }}</h1>

    <div class="data">
        <h5>Name:</h5>
        <p>{{ name }}</p>

        <h5>Class:</h5>
        <p>{{ class }}</p>

        <p>Kamu telah menambahkan {{ total }} items!</p>
    </div>

    <div id="cards" class="cards">
        <!-- {% for item in items %}
        <div class="card {% if forloop.last %}new-card{% endif %}">
            <h3>{{ item.name }}</h3>
            <p>Price: {{ item.price }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Amount: {{ item.amount }}</p>
            <div class="card-buttons">
                <a href="add_amount/{{ item.id }}">
                    <button class="amount-button">Menambah amount</button>
                </a>
                <a href="reduce_amount/{{ item.id }}">
                    <button class="reduce-button">Mengurangi amount</button>
                </a>
                <a href="hapus/{{ item.id }}">
                    <button class="remove-button">Hapus Item</button>
                </a>
            </div>
        </div>
        {% endfor %} -->
    </div>

    <div class="action-buttons">
        <a href="{% url 'main:create_item' %}">
            <button class="action-button">Add New Item</button>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</button>

        <a href="{% url 'main:logout' %}">
            <button class="logout-button">Logout</button>
        </a>
    </div>
</div>

<style>
    .container {
        background-color: #ececec;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 20px auto;
        width: 80%;
    }

    h1 {
        text-align: center;
        color: #ff2200b1;
    }

    .data {
        margin: 20px 0;
    }

    h5 {
        font-weight: bold;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .card {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin: 10px;
        width: calc(25% - 20px); /* 25% width for 4 cards per row */
        text-align: left;
    }

    .card h3 {
        color: #010101b1;
    }

    .card-buttons {
        margin-top: 10px;
    }

    .amount-button,
    .reduce-button,
    .remove-button,
    .action-button,
    .logout-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 5px;
    }

    .amount-button:hover,
    .remove-button:hover,
    .action-button:hover, .logout-button:hover, .reduce-button:hover {
        background-color: #d1d6db;
    }

    .reduce-button {
        background-color: #ff8c00de;
    }

    .remove-button,
    .logout-button {
        background-color: #ff0000cf;
    }

    .action-button {
        background-color: #00ff4cb6;
    }

    .new-card {
        background-color: #e8f8ff; /* Warna latar belakang card terbaru */
    }
</style>

<script>
    let newestItem = null; // Variabel untuk melacak item yang paling baru

    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }

    async function refreshItems() {
        document.getElementById("cards").innerHTML = ""
        const items = await getItems()
        let htmlString = ` `
        items.forEach((item) => {
            const isItemNew = newestItem && newestItem.id === item.id; // Cek apakah item adalah yang paling baru
            htmlString += `
            <div class="card ${isItemNew ? 'new-card' : ''}">
            <h3>${item.fields.name}</h3>
            <p>Price: ${item.fields.price}</p>
            <p>Amount: ${item.fields.amount}</p>
            <p>Description: ${item.fields.description}</p>

            <div class="card-buttons">
                <a href="add_amount/${item.id}">
                    <button class="amount-button">Menambah amount</button>
                </a>
                <a href="reduce_amount/${item.id}">
                    <button class="reduce-button">Mengurangi amount</button>
                </a>
                <a href="hapus/${item.id}">
                    <button class="remove-button">Hapus Item</button>
                </a>
            </div>
        </div>`;
            if (isItemNew) {
                newestItem = item; // Update item yang paling baru
            }
        })

        document.getElementById("cards").innerHTML = htmlString;
    }

    refreshItems();

    function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false;
    }
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" ></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" onclick="addItem()" data-bs-dismiss="modal">Add Item</button>

            </div>
        </div>
    </div>
</div>

<div class="last-login">
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>
    
{% endblock content %}
